body{
    background-image: url("images/lololo.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}
.kiki{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-style:dotted;
margin-left: 500px;
margin-right: 500px;
margin-top: 30px;
border-radius:20px ;
width: 400px;
background-color: rgba(100, 100, 100, 0.5);
border-color: black;
}
.form{
display: flex;
flex-direction: column;
padding-bottom: 50px;
width: 300px;
}
.here{
    display: flex;
flex-direction:  row;
padding-bottom: 50px;
}
.ttt{
     display: flex;
flex-direction:  column;
padding-bottom: 50px;
justify-content:flex-start ;
align-items:flex-start ;
}
.lang{
  display: flex;
justify-content: center;
 background-position: center;
 padding-top: 2px;
 padding-bottom: 2px;
}
.kokol{
  background-color: gold;
  width: 100px;
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}