body{
  background-image: url("images/singupbackground.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}
  h1{
    padding-left: 20px;
  }
.men{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding-top: 50px;
background-color: rgba(170, 162, 162,0.8);
border: 5px solid black;
outline: 2px double rgb(255, 0, 0); 
border-radius: 10px;
}
.your{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:30px;
}
.team{
box-shadow: 0 4px 10px rgba(0,0,0,0.3);
 width: 500px;
 height: 500px;
border-radius:20px;
align-items: center;
}
.btn-image{
width: 500px; ;
height:500px;
background-image:url("images/1.jpg") ;
background-size:cover ;
background-position:center ;
border:none ;
border-radius: 50%;
cursor:pointer ;
}
.meets{
border-radius: 35px;
background-size: 50px;
width:100%;
}
.rare{
font-style: italic;
}
h2{
  display: flex;
justify-content: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: italic;
}
.deer{
  border-radius: 30px;
  height:300px;
  width:300px;
border: 3px solid black;
 }
.lang{
    border-radius: 30px;
  height: 300px;
  width: 300px;
border: 3px solid black;
}
.offerring{
    border-radius: 30px;
    height:300px;
  width: 300px;
border: 3px solid black;
}
.online{
    height: 300px;
  width: 300px;
  border-radius: 30px;
 display: flex;
 justify-content: center;
}
.gog{
  display: flex;
  justify-content: center;
  background-color:gray;
  border-radius: 30px;
  flex-direction: row;
border: solid 2px black;

}
.lolol{
color: rgb(255, 251, 0);
box-shadow: 0 2pt 10px 5px rgba(0, 0, 0,0.8);
background-color: rgba(138, 133, 133, 0.8);
width: 96%;
position:sticky;
top: 0;
z-index: 1;
display: flex;
flex-direction: row;
 align-items: center;
border-radius: 10px;
border-color: black;
border-width: 4px;
border-style: solid;
}
.Home{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 95px;
  padding-left: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.first{
  display: flex;
flex-direction: row;
padding-right: 20px;
padding: 10px;
font-size: larger;
font-family: Georgia, 'Times New Roman', Times, serif;
transition:outline 0.3s ease;
}
.first:hover{
  color: rgb(255, 0, 0);
  background-color: rgba(148, 246, 253,0.4 );
outline: 4px solid rgb(63, 63, 63);
border-radius:15px ;
}
.firstc{
  display: flex;
 justify-content: center;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
.female{
  background-color: red;
  width: 150px;
  border-radius: 10px;
  border: 4px solid black;
}
.jiji{
      display: flex;
 justify-content: center;
}

.name{
  background-color: red;
  width: fit-content;
  border-radius: 10px;
  border: 4px solid black;
  display: flex ;
  }
.ccc{
     display: flex;
 justify-content: center;
}
.id{
  display: flex; 
  padding-left: 0.7px;
  padding-right: 0.7px;
}
.lklk{
  display: flex;
 padding-left: 500px;
}
.jj{
 background-color: red;
  width: fit-content;
  border-radius: 10px;
  border: 4px solid black;
  display: flex ;
  padding-left: 50%;
}

